/*html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    background-color: #fff;
    font-family: Arial, Helvetica, Verdana;
    font-size: 14px;
    line-height: 22px;
    color: #666;
    position: relative;
    -webkit-text-size-adjust: none;
}

    body * {
        text-shadow: none;
    }

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

h1, h2, h3 {
    font-size: 18px;
}

h4, h5, h6 {
    font-size: 16px;
}

p {
    margin: 0 0 10px 0;
}

a, a:link, a:active, a:visited, a:hover {
    color: inherit;
    text-decoration: underline;
}*/

.auCardView {
}

.auCardView-container {
}

.auCardView-header {
    /*margin-left: 0px !important;*/
    /*margin-right: 0px !important;*/
    padding: 10px 0px;
}

.auCardView-body {
}

.auCardView-footer {
    /*margin-left: 0px !important;*/
    /*margin-right: 0px !important;*/
}

.auCardView-toolbar-cell {
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.auCardView-card {
    margin: 5px 0px;
}

.auCardView-card-panel {
    /*border-color: transparent;*/
    border: none !important;
}

.auCardView-card-body {
    border-width: 1px;
    border-style: solid;
}
